#avatar a {
  display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid rgba(222, 222, 222, 0.7);
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); /* fixed the zoom in Safari */
    transition: border-color 0.35s ease-in-out;
}
#avatar a:hover {
  border-color: white;
}
#avatar img {
  overflow-clip-margin: content-box;
    overflow: clip;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
#avatar img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.6);
}