<div class="container-xxl px-md-4">
    <header class="d-flex flex-wrap align-items-center justify-content-end justify-content-md-between mb-4 pb-1 border-black border-bottom">
        <a href="/home/recipes" class="d-none d-md-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="/images/logo.svg" width="229" height="68" alt="Kharleats Homepage">
        </a>
        <div class="search float-end">
        <i class="bx bx-search bx-sm"></i>
        <input type="search" name="search" id="" placeholder="Find something...">
      </div>
    </header>
</div>