<!-- ============= Dashboard View =============== -->
<h1>Welcome to groundUP</h1>
<ul>
    <li>Submit/Add Recipe Page</li>
    <li>Random Recipe Pagee</li>
    <li>Latest Recipe Page</li>
    <li>All Recipes Page</li>
    <li>All Categories Page</li>
    <li>Single Category Page</li>
    <li>Single Recipe Page</li>
    <li></li>
</ul>
<h2><a href="/logout">Logout</a></h2>