html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  overflow-x: auto;
  display: flex;
  border-bottom: 2px solid #aaaaaa;
  padding: 0.5rem;
}

.notes__add {
  background: #009578;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 10%;
  height: 100%;
  margin-right: 0.5rem;
}
.notes__add i {
  font-size: 3rem;
}
.notes__add:hover {
  background: #00af8c;
}
.notes__list {
  padding-left: 0.5rem;
  width: 88%;
  display: flex;
  border-left: 2px solid #000;
}
.notes__list-item {
  cursor: pointer;
}

.notes__list-item--selected {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
}

.notes__small-body {
  padding: 0 10px;
}

.notes__small-updated {
  color: #aaaaaa;
  font-style: italic;
  text-align: right;
}
.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-grow: 1;
}

.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
}

.notes__title {
  font-size: 2rem;
  font-weight: bold;
}

.notes__body {
  height: 100%;
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: 1.3em;
  resize: none;
}