<form action="/search" method="post">
<div class="search float-end">
        <i class="bx bx-search bx-sm"></i>
        <input type="search" name="search" id="" placeholder="Find something...">
    </div>
</form>