<!-- Dashboard 404 -->
<div class="w-100 h-100 position-relative d-flex flex-column text-center align-content-center justify-content-center">
    <h1 class="display-1 d-block">404</h1>
    <div class="mb-4 lead">The page you are looking for was not found.</div>
    <a href="/home" class="btn btn-outline-light mx-auto">Back to Dashboard</a>
</div>