<!-- Dashboard 500 -->
<div class="w-100 h-100 position-relative d-flex flex-column text-center align-content-center justify-content-center">
    <h1 class="display-1 d-block">500</h1>
    <% if (error != "undefined") { %>
        <p><%= error.message %></p>
    <% } %>
    <div class="mb-4 lead">The server encountered an error! Go back or refresh</div>
    <a href="/home" class="btn btn-outline-light mx-auto">Back to Dashboard</a>
</div>